.footer {
  background: #1f1f1f;
  color: white;
  padding-top: 60px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 15px;
}

.footer-section p {
  color: #d1d1d1;
  line-height: 1.8;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #d1d1d1;
  transition: 0.3s;
}

.footer-section a:hover {
  color: #d97706;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  border-top: 1px solid #444;
}

.footer-bottom p {
  color: #aaa;
}

/* Tablet */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-icons {
    align-items: center;
  }
}