.hero {
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1509440159596-0249088772ff")
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.55);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  color: white;
  max-width: 800px;
  padding: 20px;
}

.hero-content h4 {
  color: #fbbf24;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.hero-content h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.primary-btn,
.secondary-btn {
  padding: 14px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn {
  background: #d97706;
  color: white;
}

.primary-btn:hover {
  background: #b45309;
}

.secondary-btn {
  background: white;
  color: #222;
}

.secondary-btn:hover {
  background: #f3f4f6;
}

/* Tablet */
@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 3rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .primary-btn,
  .secondary-btn {
    width: 200px;
  }
}